* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Playfair Display", serif;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
}

header {
    position: fixed;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 50px;
    z-index: 2;

    & img {
        width: 130px;
    }

    & nav {
        & ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        & a {
            color: #011627;
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            padding: 10px 0;
            transition: color 0.3s;

            &:hover {
                color: #6C8EAD;
            }
        }
    }
}

section {
    background-image: linear-gradient(#003366, #333333, #800000);
    height: 100vh;
    position: relative;

    & .list {
        width: 90vw;
        height: 100%;
        margin: auto;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .car-img {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 70%;

                & img {
                    width: 100%;
                    transform: rotate(-20deg);
                }

                &::before {
                    content: '';
                    position: absolute;
                    background-color: #000;
                    width: 100%;
                    height: 100px;
                    top: 150%;
                    left: 50px;
                    border-radius: 50%;
                    filter: blur(50px);
                }
            }

            & .content {
                position: absolute;
                right: 50px;
                width: 70%;
                height: 105%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;

                & .car_info {
                    font-weight: bold;
                }

                & h2 {
                    font-size: 2.5em;
                    line-height: 1em;
                    font-family: "PT Serif", serif;
                }

                & .description {
                    color: #aaaaaa;
                    font-size: 12px;
                    text-align: right;
                    max-width: 400px;
                }

                & .btn {
                    border-radius: 30px;
                    height: 35px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px solid #000000;
                    background-color: #011627;
                    color: #b3b3b3;
                    cursor: pointer;
                    font-weight: bold;
                    font-family: "PT Serif", serif;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            height: 200px;
            width: 100%;
            top: 50%;
            border-top: 1px solid #fff;
        }
    }

    .arrows {
        width: 90vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        display: flex;
        justify-content: space-between;

        & button:nth-child(1) {
            & img {
                transform: scale(-1);
            }
        }

        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            & img {
                width: 30px;
                margin-top: 4px;
                cursor: pointer;
            }

            &:hover {
                background-color: #6C8EAD;
            }
        }
    }

    .indicators {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;

        & .number {
            font-size: 5em;
            font-family: "PT Serif", serif;
        }

        & ul {
            display: flex;
            gap: 10px;

            & li {
                width: 50px;
                height: 5px;
                background-color: #011627;
                border-radius: 5px;
                transition: 0.5s;
            }

            & .active {
                background-color: #6C8EAD;
            }
        }
    }
}

nav .link {
    text-decoration: none;
}

section {
    & .list {
        --calculation:1;
        & .item {
            transform: translateX(calc(100vw * var(--calculation)));
            transition: 0.5s;
            opacity: 0;

            & .car-img {
                & img {
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.3s;
                }
            }

            & .content {
                & .car-info,
                h2,
                .description,
                .btn {
                    transform: translateX(calc(200px * var(--calculation)));
                    transition: 0.7s;
                    transition-delay: 0.3s;
                    opacity: 0;
                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .description {
                    transition-delay: 0.7s;
                }

                & .btn {
                    transition-delay: 0.9s;
                }
            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

            & .car-img {
                & img {
                    transform: rotate(-20deg);
                }
            }

            & .content {
                & .car-info,
                h2,
                .description,
                .btn {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}

/* Media Queries */
@media (max-width: 992px) {
    header {
        width: 90vw;
        gap: 20px;
    }

    header img {
        width: 100px;
    }

    section .list {
        width: 80vw;
    }

    section .list .item .content {
        right: 30px;
    }
}

@media (max-width: 768px) {
    header {
        width: 90%;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    header nav ul {
        grid-template-columns: 1fr 1fr 1fr;
    }

    section .list {
        width: 90%;
    }

    section .list .item .content {
        right: 20px;
    }

    .arrows {
        width: 90%;
    }

    .indicators {
        width: 95%;
    }
}

@media (max-width: 576px) {
    header {
        gap: 10px;
    }

    header img {
        width: 80px;
    }

    section .list {
        width: 95%;
    }

    section .list .item .content {
        right: 10px;
    }

    .arrows {
        width: 95%;
    }

    .indicators {
        width: 98%;
    }
}
